# Сборка плагина
dist/
server/dist/
webapp/dist/

# Зависимости
node_modules/
vendor/

# Go модули
go.sum

# Временные файлы
*.log
*.tmp
.DS_Store
Thumbs.db

# IDE файлы
.vscode/
.idea/
*.swp
*.swo

# Конфигурационные файлы
.env
.env.local 